<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyojuro Rengoku</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 align="center">Kyojuro Rengoku</h1>
    <h3 align="center">Pilar de la llama</h3>
    <a href="/babbage"><a></a>

        <table align="center" style="" class="cquote">
            <tbody>
                <tr>
                    <td width="20" valign="top"
                        style="color:#721410; font-size:35px; font-family:'Merriweather',serif; font-weight:bold; text-align:left; padding:9px 10px 0px 10px;">
                        “
                    </td>
                    <td valign="top"
                        style="padding:4px 10px 5px 10px; font-family:'Times New Roman'; text-align:center; font-size:110%;">
                        <i>Vive con orgullo y la frente en alto. Si te ves abatido por tu debilidad y tus miedos, llena
                            de coraje tu corazón. Ármate de valentía y continúa tu camino. Aun si te detienes y te
                            acobardas, no detendrás el flujo del tiempo. Que el hecho de que estamos llegando a nuestro
                            final no sea causa de tu tristeza.</i>
                    </td>
                    <td width="20" valign="bottom"
                        style="color:#721410; font-size:30px;font-family:'Merriweather',serif;font-weight:bold;text-align:right;padding:10px 10px 0px 10px;">
                        ”
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding-top: 0">
                        <p style="font-size:smaller;line-height:1em;text-align: right"><cite
                                style="font-style:normal;">—Rengoku a <a href="/es/wiki/Tanjir%C5%8D_Kamado"
                                    class="mw-redirect" title="Tanjirō Kamado">Tanjiro</a> <small>(<span class="new"
                                        title="Manga: Capítulo 66, Página 6 (la página no existe)"
                                        data-uncrawlable-url="L2VzL3dpa2kvTWFuZ2E6X0NhcCVDMyVBRHR1bG9fNjYsX1AlQzMlQTFnaW5hXzY/YWN0aW9uPWVkaXQmcmVkbGluaz0x">Manga</span>)</small></cite>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>

            <img src="./img/rengoku(1).jpg" alt="rengoku" width="300px" height="350px">

            <p class="conteiner"><br>
                <b>Kyojuro Rengoku</b><span style="font-weight: normal"> (<span class="t_nihongo_kanji" lang="ja"><ruby
                            class="rubytext ruby-ja" lang="ja">
                            <rb>煉</rb>
                            <rp>(</rp>
                            <rt>れん</rt>
                            <rp>)</rp>
                        </ruby><ruby class="rubytext ruby-ja" lang="ja">
                            <rb>獄</rb>
                            <rp>(</rp>
                            <rt>ごく</rt>
                            <rp>)</rp>
                        </ruby> <ruby class="rubytext ruby-ja" lang="ja">
                            <rb>杏</rb>
                            <rp>(</rp>
                            <rt>きょう</rt>
                            <rp>)</rp>
                        </ruby><ruby class="rubytext ruby-ja" lang="ja">
                            <rb>寿</rb>
                            <rp>(</rp>
                            <rt>じゅ</rt>
                            <rp>)</rp>
                        </ruby><ruby class="rubytext ruby-ja" lang="ja">
                            <rb>郎</rb>
                            <rp>(</rp>
                            <rt>ろう</rt>
                            <rp>)</rp>
                        </ruby>,</span><span class="t_nihongo_comma" style="display:none">,</span> <i><span
                            class="t_nihongo_romaji">Rengoku Kyōjurō</span></i><span class="t_nihongo_help"><sup><a
                                href="http://en.wikipedia.org/wiki/es:Ayuda:Idioma_japon%C3%A9s" class="extiw"
                                title="wikipedia:es:Ayuda:Idioma japonés"><span class="t_nihongo_icon"
                                    style="color:#00e;font:bold 80% sans-serif;text-decoration:none;padding:0 .1em;">?</span></a></sup></span>)</span>
                fue un cazador de Demonios y el <a href="/es/wiki/Pilares" title="Pilares">Pilar</a> de la <a
                    href="/es/wiki/Respiraci%C3%B3n_de_la_Llama" title="Respiración de la Llama">Llama</a><span
                    style="font-weight: normal"> (<span class="t_nihongo_kanji" lang="ja"><ruby class="rubytext ruby-ja"
                            lang="ja">
                            <rb>炎</rb>
                            <rp>(</rp>
                            <rt>えん</rt>
                            <rp>)</rp>
                        </ruby><ruby class="rubytext ruby-ja" lang="ja">
                            <rb>柱</rb>
                            <rp>(</rp>
                            <rt>ばしら</rt>
                            <rp>)</rp>
                        </ruby>,</span><span class="t_nihongo_comma" style="display:none">,</span> <i><span
                            class="t_nihongo_romaji">En Bashira</span></i><span class="t_nihongo_help"><sup><a
                                href="http://en.wikipedia.org/wiki/es:Ayuda:Idioma_japon%C3%A9s" class="extiw"
                                title="wikipedia:es:Ayuda:Idioma japonés"><span class="t_nihongo_icon"
                                    style="color:#00e;font:bold 80% sans-serif;text-decoration:none;padding:0 .1em;">?</span></a></sup></span>)</span>.
                del <a href="/es/wiki/Cuerpo_de_Exterminio_de_Demonios" title="Cuerpo de Exterminio de Demonios">Cuerpo
                    de Exterminio de Demonios</a>.<sup id="cite_ref-3" class="reference"><a
                        href="#cite_note-3">[3]</a></sup>&nbsp;
            </p>
        </p>
        <p>
            <img src="./img/rengoku.jpg" alt="">
        </p>
        <section class="cajaIndice">
            <h2>INDICE</h2>
            <ul>
                <li><a href="#Apariencia">Apariencia</a></li>
                <li><a href="#Apariencia">Personalidad</a></li>
                <li><a href="#Poderes">Poderes y habilidades</a></li>
            </ul>
        </section>
        <section class="conteinerApariencia">
            <h2 id="Apariencia">Apariencia.</h2>
            <p>Kyojuro era un hombre joven de apenas 20 años de edad, con la piel de tono crema, de cabello amarillo
                brillante con mechones rojos, cejas negras bifurcadas y ojos dorados.</p>
            <p>Su atuendo consistía en el uniforme regular de Cazador de Demonios junto con una capa que tiene el patrón
                de degradado blanco-amarillo y crestas rojas en forma de llamas en las puntas.</p>
            <p>Su hakama está sujeto a la altura de los tobillos con un par de telas cuyo diseño asemejan a llamas,
                calzado zori con las ataduras de color rojo y medias negras. Su espada Nichirin tiene el Tsuba en forma
                de llamarada y la hoja de su katana es de color rojo carmesí.</p>
            <br>
            <h2 id="Personalidad"> Personalidad. </h2>
            <p>De todos los pilares, Kyojuro era el más entusiasta de todos, siendo por mucho el más consciente de su
                misión, no obstante, podía darse el lujo de ser excéntrico.</p>
            <p>
                Era amable y se jactaba de tener una técnica y un manejo de la espada extraordinarios derivados de una
                práctica y disciplina estrictas. Era un guerrero honorable que se adhirió a su código de moral y
                principios que le fueron inculcados por su madre a una edad temprana, lo más importante para él era que
                aquellos que nacieron fuertes tienen el deber de proteger a los débiles.
            </p>
            <br>
            <h2 id="Poderes"> Poderes y habilidades. </h2>
            <ul>
                <li>
                    <h3>Fuerza y resistencia mejoradas:</h3>
                    <p>Kyojuro poseía una gran fuerza física y resistencia incomparables, siendo capaz de soportar los
                        golpes de Akaza ganándose incluso su reconocimiento.</p>
                </li>
                <li>
                    <h3>Velocidad aumentada:</h3>
                    <p>A la par de su fuerza, Kyojuro era rápido. Su velocidad era tal que ni siquiera Tanjiro podía
                        seguirle el paso. Su velocidad era tan grande que provocaba temblores al moverse.</p>
                </li>
            </ul>
        </section>
        <br>

        <h3>Otros Heroes del anime que te podrian interesar</h3>
        <a href="/berners-lee">Berners-lee</a> ---
        <a href="/clarke">Clarke</a> ---
        <a href="/hamilton">Margaret Hamilton</a> ---
        <a href="/hopper">Hopper</a> ---
        <a href="/lovelace">Lovelace</a> ---
        <a href="/turing">Turing</a>
</body>

</html>