<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 align="center">Mitsuri Kanroji</h1>
    <a href="/berners-lee"><a>
            <br>

            <table align="center" style="" class="cquote">
                <tbody>
                    <tr>
                        <td width="20" valign="top"
                            style="color:#721410; font-size:35px; font-family:'Merriweather',serif; font-weight:bold; text-align:left; padding:9px 10px 0px 10px;">
                            “
                        </td>
                        <td valign="top"
                            style="padding:4px 10px 5px 10px; font-family:'Times New Roman'; text-align:center; font-size:110%;">
                            <i>Me pregunté si estaba bien para mí ser fuerte desde que era niña. Y si pudiera vivir mi
                                vida sin que la gente me llamara monstruo inhumano. Suprimí mi poder por miedo ... pero
                                me detendré ahora. Déjamelo a mí, protegeré a todos.</i>
                        </td>
                        <td width="20" valign="bottom"
                            style="color:#721410; font-size:30px;font-family:'Merriweather',serif;font-weight:bold;text-align:right;padding:10px 10px 0px 10px;">
                            ”
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding-top: 0">
                            <p style="font-size:smaller;line-height:1em;text-align: right"><cite
                                    style="font-style:normal;">—Mitsuri pensando en sí misma.<small>(<span class="new"
                                            title="Capítulo 124 (la página no existe)"
                                            data-uncrawlable-url="L2VzL3dpa2kvQ2FwJUMzJUFEdHVsb18xMjQ/YWN0aW9uPWVkaXQmcmVkbGluaz0x">fuente</span>)</small></cite>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <img src="./img/mitsuri(1).jpg" alt="mistu">

            <section class="conterinerMitsu">
                <b>Mitsuri Kanroji</b>
                <span> (甘かん露ろ寺じ蜜みつ璃り, Kanroji Mitsuri?) es un personaje secundario de la franquicia de Kimetsu no Yaiba.
                    Mitsuri fue una Cazadora de Demonios que formó parte del grupo de los Pilares siendo conocida como
                    el Pilar del Amor (恋こい柱ばしら, Koi Bashira?).</span>
            </section>
            <section class="conteinerLisT">
                <ul>
                    <h3>Indice</h3>
                    <li><a href="#Apariencia">Apariecia</a></li>
                    <li><a href="#Personalidad">Personalidad</a></li>
                    <li><a href="#Habilidades">Habilidades</a></li>
                    <li><a href="#Curiosidades">Curiosidades</a></li>
                </ul>
            </section>
            <section>
                <h2 id="Apariencia">Apariecia.</h2>
                <br>
                <p>La apariencia de Mitsuri es de una chica de piel clara, figura curvilínea y voluptuosa, de ojos color
                    verde claro, con el cabello de color rosado el cual termina en extensiones degradadas de color verde
                    en las puntas y en su cara tiene dos lunares ubicados debajo de sus pómulos paralelamente. Su pelo,
                    que es bastante largo, lo mantiene agarrado en tres largas coletas trenzadas con dos de las trenzas
                    ubicadas paralelamente a su cabeza dejando caer su pelo sobre sus hombros y la otra coleta la deja
                    caer sobre su espalda baja. Su flequillo está dividido en tres porciones, dos a ambos lados de su
                    cabeza y una porción de su pelo en el centro dejando un espacio entre sus ojos de entre los cuales
                    surcan dos pequeños mechones.</p>
                <p>Cuando ella iba a casarse, para aparentar ser una persona normal, ella se tinturó el cabello a color
                    negro para dar esa impresión. Su uniforme de cazador de demonios tiene un diseño personalizado
                    siendo negro con tintura rosa; su saco y su camisa están siempre sin abotonar debido a sus grandes
                    pechos dejando ver un escote pronunciado. Ella lleva puesto un haori blanco de mangas largas por
                    encima y una falda corta en lugar del hakama habitual el cual fue un regalo que le hizo Kyojuro [6].
                    También usa un par de calcetines de color azul marino hasta el muslo que están cubiertos con otro
                    par de calcetines verdes hasta las rodillas con rayas junto con unas sandalias japonesas de cordones
                    rosas.</p>
                <p>Cuando estaba en la aldea de los forjadores de Espadas, llevaba un kimono con diseños florales. Su
                    espada Nichirin tiene un diseño personalizado con la guardia en forma de corazones entrelazados
                    horizontal y verticalmente, con el mango bordeado con corazones y la hoja de la katana es de color
                    fucsia siendo de un diseño flexible la cual debido a su físico, ella es la única que la puede
                    empuñar.</p>
                <p>En el enfrentamiento final contra <b>MuzanKibutsuji</b>, Mitsuri resulta gravemente herida; Las
                    trenzas izquierda y trasera que fueron cortadas por los ataques de Muzan, ahora lucen acortadas a la
                    altura de los hombros, y parte de su oreja izquierda también está desgarrada a un lado [7]. Mitsuri
                    también pierde ambos brazos al hacer ese esfuerzo sobrehumano de arrancarle el brazo izquiero a
                    Muzan</p>
            </section>
            <img src="./img/mitsuri.jpg" alt="">
            <section>
                <h2 id="Personalidad"> Personalidad </h2>
                <br>
                <p>Mitsuri es una persona muy emocional y apasionada. Ella es amable y gentil; felicitando
                    constantemente a las personas en su mente, lo que probablemente se relaciona con su título de "El
                    pilar del amor". Se pone nerviosa fácilmente y no puede soportar los insultos muy bien.</p>
                <p>Ella también está desesperada por casarse. Sin embargo, ella quiere encontrar un hombre que sea más
                    fuerte que ella, lo cual es difícil porque ella es ridículamente fuerte. Pero frente a los demonios
                    que son anormalmente malvados, ella no muestra misericordia, pero expresa tales sentimientos con un
                    tono suave pero apasionado. Aunque es amable con todas las personas, parece tener un vínculo cercano
                    con <b>Obanai Iguro</b>; como se ven a menudo juntos lo que luego se expresa con un gran amor hacia
                    él después de la batalla contra muzan.</p>
            </section>
            <section>
                <h2 id="Habilidades">Habilidades</h2>
                <br>
                <b>Habilidades naturales:</b>
                <ul>
                    <li>
                        <b>Experiencia como espadachín:</b> <span>Mitsuri es un Pilar, lo que significa que sus
                            habilidades con la espada son superiores a la del resto de los Cazadores de Demonios en
                            promedio</span>
                    </li>
                    <br>
                    <li>
                        <b>Velocidad aumentada:</b> <span> Durante su lucha contra la Luna superior cuatro, Mitsuri fue
                            capaz de evitar todos sus ataques obligando al Demonio a utilizar sus técnicas de Sangre
                            Demoníaca.[10] Después de despertar su marca de cazador su velocidad aumenta aún más. Dicho
                            esto, ella no es tan rápida como algunos de sus compañeros Pilares, como se muestra en la
                            batalla contra Muzan, donde luchó para mantenerse al día con él, obligándola a confiar en la
                            suerte y el instinto para esquivar. Esto resultó infructuoso ya que fue golpeada por
                            múltiples ataques, forzándola a salir de la lucha por completo</span>
                    </li>
                    <br>
                    <li>
                        <b>Constitución única:</b> <span>Kanroji tiene una composición muscular especial con una
                            densidad ocho veces mayor que la de un humano normal. Si bien sus extremidades son delgadas,
                            poseen una fuerza y ​​resistencia inigualables capaces de mantener la estructura de su
                            cuerpo después de un ataque a quemarropa de la Luna Superior cuatro,Hantengu. Para mantener
                            la composición de su cuerpo, Kanroji come la ración de tres luchadores de sumo.</span>
                    </li>
                    <br>
                    <li>
                        <b>Gran fortaleza física</b> <span>A pesar de verse como una chica frágil, Mitsuri es sumamente
                            fuerte. Prueba de su increíble fuerza física es que ella fue capaz de arrancarle con sus
                            manos un brazo al mismísimo Muzan Kibutsuji sin mucho esfuerzo.</span>
                    </li>
                </ul>
            </section>
            <section>
                <h2 id="Curiosidades">Curiosidades</h2>

                <ul>
                    <li>El arma de Mitsuri se parece y puede basarse en un arma del sur de la India conocida como
                        "Urumi" debido a su forma flexible, similar a un látigo.</li>
                    <br>
                    <li>Algunos de los ataques de Mitsuri llevan el nombre de gatos, debido al hecho de que solía tener
                        un gato cuando era niña. Gyomei y ella disfrutan hablando juntos de gatos.</li>
                    <br>
                </ul>
            </section>
            <br>

            <h3>Otros Heroes del anime que te podrian interesar</h3>
            <a href="/berners-lee">Berners-lee</a> ---
            <a href="/clarke">Clarke</a> ---
            <a href="/hamilton">Margaret Hamilton</a> ---
            <a href="/hopper">Hopper</a> ---
            <a href="/lovelace">Lovelace</a> ---
            <a href="/turing">Turing</a>

</body>

</html>