<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 align="center">Obanai Iguro</h1>
    <a href="/clarke"><a>


            <table align="center" style="" class="cquote">
                <tbody>
                    <tr>
                        <td width="20" valign="top"
                            style="color:#721410; font-size:35px; font-family:'Merriweather',serif; font-weight:bold; text-align:left; padding:9px 10px 0px 10px;">
                            “
                        </td>
                        <td valign="top"
                            style="padding:4px 10px 5px 10px; font-family:'Times New Roman'; text-align:center; font-size:110%;">
                            <i>Quiero morir derrotando a Muzan; de este modo, esta sangre sucia se purificará. Y sí
                                llego a renacer como un ser humano en un mundo pacífico sin Demonios, te diré lo que
                                siento por ti.</i>
                        </td>
                        <td width="20" valign="bottom"
                            style="color:#721410; font-size:30px;font-family:'Merriweather',serif;font-weight:bold;text-align:right;padding:10px 10px 0px 10px;">
                            ”
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding-top: 0">
                            <p style="font-size:smaller;line-height:1em;text-align: right"><cite
                                    style="font-style:normal;">—Obanai aludiendo a.(<span class="new"
                                        title="Capítulo 124 (la página no existe)"
                                        data-uncrawlable-url="L2VzL3dpa2kvQ2FwJUMzJUFEdHVsb18xMjQ/YWN0aW9uPWVkaXQmcmVkbGluaz0x">fuente</span>)</small></cite>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <img src="./img/iguto(1).jpg" alt="">

            <section class="conteinerIguro">
                <h3>Indice:</h3>
                <ul>
                    <li><a href="#Apariencia">Apariencia</a></li>
                    <li><a href="#Personalidad">Personalidad</a></li>
                    <li><a href="#Poderes">Poderes y Hablidades</a></li>
                </ul>
            </section>
            <section>
                <h2 id="Apariencia">Apariencia</h2>
                <br>
                <p>Obanai es un hombre de estatura mediana con la piel de tono crema, de cabello negro y con
                    heterocromia: su ojo izquierdo es de color turquesa y su ojo derecho es de color amarillo. Su
                    cabello es largo, peinado de tal modo que pareciera estar cortado en extensiones planas, con un
                    fleco dividido en dos por en medio de la frente en dos gruesos mechones; otro rasgo característico
                    del personaje es que posee su boca cubierta de vendajes la cual esconde sus expresiones faciales.
                    Esto se debe a que durante su niñez, Obanai fue cortado en su boca desde sus esquinas hasta la
                    altura de sus orejas para hacerla parecer como la de una serpiente dejándole una horrenda herida que
                    esconde bajo sus vendas. [4]En cuanto a su indumentaria, Obanai viste el uniforme característico de
                    los cazadores de Demonios con el pantalón de Hakama sujeto con un par de telas blancas alrededor de
                    los tobillos, al cual complementa con un Haori blanco de mangas anchas y largas el cual está bordado
                    con rayas negras horizontales y verticales. Por sobre sus hombros y enrollada en su cuello, carga
                    consigo a una serpiente de color blanco de nombre Kaburamaru la cual es su mascota y usa medias
                    negras y sandalias zori de color azul.</p>
                <br>
                <p>Durante el enfrentamiento contra <b>Muzan Kibutsuji</b>, Obanai sufrió un fuerte corte en su cara en
                    forma de tres líneas paralelas que además lo dejó ciego.</p>
            </section>
            <br>
            <section>
                <h2 id="Personalidad">Personalidad</h2>
                <br>
                <p>Obanai es una persona muy dura y estricta que no muestra preocupación por aquellos que no cumplen con
                    las reglas de Demon Slayer. Sus expectativas para sus compañeros Demon Slayers son casi irreales,
                    regañando a Tengen Uzui por sufrir heridas graves contra el Upper Rank "más débil" y diciéndole que
                    "luche hasta la muerte" cuando Tengen insiste en retirarse. El retiro de Tengen también destaca la
                    devoción de Obanai por el futuro del Demon Slayer Corps, a menudo a expensas de otros, como cuando
                    ata a Demon Slayers de menor rango y los usa como obstáculos durante el entrenamiento Hashira por
                    razones relativamente insignificantes. También ve a los nuevos reclutas de Demon Slayer como débiles
                    e incapaces de mejorar, expresando sorpresa cuando Tengen le informa que Tanjiro Kamado sobrevivió a
                    la batalla con Daki y Gyutaro.</p>
                <br>
                <p>A pesar de su personalidad despiadada, hay dos personas por las que se preocupa profundamente: Kagaya
                    Ubuyashiki y Mitsuri Kanroji . Está enamorado de Mitsuri, que es lo que la mayoría de sus compañeros
                    han detectado, excepto Tanjiro y la propia Mitsuri. A menudo deja que sus sentimientos brillen
                    compartiendo comidas con ella y dándole regalos, como los calcetines verdes que usa con su uniforme.
                    Obanai parece dejar que su sobreprotección hacia Mitsuri se muestre a veces, como cuando amenaza a
                    Tanjiro por acercarse demasiado a ella. Se dio a entender que él está enamorado de Mitsuri debido a
                    su personalidad alegre que no permitió que nada del entrenamiento infernal por el que había pasado
                    se irradiara en lo más mínimo. Hablar con ella también lo hizo olvidar todas las luchas y conflictos
                    que había enfrentado en su pasado y lo hizo sentir como si fuera un joven común y corriente. Como
                    todos los Hashira, Obanai también tiene un gran respeto por Kagaya.</p>
                <br>
                <p>También se observa que Obanai posee un inmenso sentido de autodesprecio debido al hecho de que nació
                    en un clan egoísta e inmoral que sacrificaría sin piedad incluso a los niños recién nacidos a un
                    demonio para su propio beneficio monetario. Obanai se considera a sí mismo y a su familia tan
                    contaminados que años después de que los mataran, todavía sentía como si su familia le estuviera
                    clavando las uñas en la piel para asegurarse de que no pudiera ir a ninguna parte. Incluso llega a
                    creer que, para poder ser digno de Mitsuri, primero tendría que morir y limpiarse de su sangre
                    corrupta antes de confesarle sus sentimientos. Su educación también parece ser la causa de su
                    ginofobia.ya que nació en una familia de solo mujeres que lo trataban como una herramienta. El
                    trauma de su pasado también se puede ver en la forma de los vendajes en la cara que se pone para
                    cubrir las desagradables cicatrices que recibió, y nunca se las quita hasta la batalla final .</p>
                <br>
                <p>Obanai tiene un increíble sentido de determinación, continuando la lucha contra Muzan incluso después
                    de que está completamente ciego y cubierto de heridas. Su capacidad para proteger a Giyu y Tanjiro
                    durante la pelea, así como agradecer a Tanjiro por ayudarlo y luego incluso recibir un golpe por él,
                    demuestra que Obanai pudo dejar sus rencores iniciales y volverse más amigable con las personas con
                    las que fue grosero antes</p>
            </section>
            <br>
            <section>
                <h2 id="Poderes">Poderes y Habilidades</h2>
                <br>
                <b>Naturales:</b>
                <ul>
                    <li>
                        <b>Experto espadachín:</b> <span> Obanai es un espadachín experimentado, lo cual lo califica
                            como uno de los Pilares y el más fuerte de toda la organización</span>
                    </li>
                    <br>
                    <li>
                        <b>Fuerza incrementada:</b> <span>físicamente Obanai es el más fuerte de los cazadores de
                            Demonios, como lo demuestra al ser capaz de someter con completa facilidad a Tanjiro cuando
                            fue introducido en la historia, llegando a afirmar que él no podía ni moverse o respirar
                            siquiera mientras estuviera sobre él [7]; a pesar de ello, Obanai es el más débil
                            físicamente de entre los cazadores, seguido de cerca por <b>Shinobu.</b> [8]</span>
                    </li>
                    <br>
                    <li>
                        <b>Resistencia incrementada:</b> <span>Obanai posee una gran resistencia física la cual le
                            permitió resistir el efecto del veneno presente en la sangre de Muzan para pelear en
                            compañía de los otros pilares, no obstante Mitsuri no pudo resistir el mencionado
                            ataque</span>
                    </li>
                    <br>
                    <li>
                        <b>Asistencia de Kaburamaru:</b> <span>: A pesar de quedar ciego durante la lucha contra Muzan,
                            eso no fue impedimento para Obanai ya que su mascota Kaburamaru le indica la situación
                            mediante su capacidad para leer las corrientes de aire para leer el siguiente movimiento de
                            su oponente y transmitirle esa información a Obanai. La extensión de esta habilidad se puede
                            ver plenamente en su pelea contra Muzan, luchando como si nada hubiera ocurrido.</span>
                    </li>
                </ul>
                <img src="./img/iguro.jpg" alt="">
            </section>
            <br>
            <h3>Otros Heroes del anime que te podrian interesar</h3>
            <a href="/berners-lee">Berners-lee</a> ---
            <a href="/clarke">Clarke</a> ---
            <a href="/hamilton">Margaret Hamilton</a> ---
            <a href="/hopper">Hopper</a> ---
            <a href="/lovelace">Lovelace</a> ---
            <a href="/turing">Turing</a>
</body>

</html>