<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 align="center">Gyomei Himejima</h1>
    <a href="/hamilton"><a>

            <table align="center" style="" class="cquote">
                <tbody>
                    <tr>
                        <td width="20" valign="top"
                            style="color:#721410; font-size:35px; font-family:'Merriweather',serif; font-weight:bold; text-align:left; padding:9px 10px 0px 10px;">
                            “
                        </td>
                        <td valign="top"
                            style="padding:4px 10px 5px 10px; font-family:'Times New Roman'; text-align:center; font-size:110%;">
                            <i>Nacemos como humanos y nos enorgullece morir como tal. Deja de intentar hacer que otras
                                personas piensen que tus nociones imbéciles son perfectas.</i>
                        </td>
                        <td width="20" valign="bottom"
                            style="color:#721410; font-size:30px;font-family:'Merriweather',serif;font-weight:bold;text-align:right;padding:10px 10px 0px 10px;">
                            ”
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding-top: 0">
                            <p style="font-size:smaller;line-height:1em;text-align: right"><cite
                                    style="font-style:normal;">—Himejima a la Luna Superior Uno(<span class="new"
                                        title="Capítulo 124 (la página no existe)"
                                        data-uncrawlable-url="L2VzL3dpa2kvQ2FwJUMzJUFEdHVsb18xMjQ/YWN0aW9uPWVkaXQmcmVkbGluaz0x">fuente</span>)</small></cite>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <img src="./img/himejima(1).jpg" alt="">
            <section class="coteinerHimejima">
                <h3>Indice:</h3>
                <ul>
                    <li><a href="#Apariencia">Apariencia</a></li>
                    <li><a href="#personalidad">Personalidad</a></li>
                    <li><a href="#habilidades">Poderes y Habilidades</a></li>
                    <li><a href="#curi">Curiosidades</a></li>
                </ul>
            </section>
            <section>
                <h2 id="Apariencia">Apariencia</h2>
                <p>Gyomei fue un hombre de apariencia fornida y musculosa. Era uno de los personajes más altos de la
                    serie, con más de dos metros de altura[4] y el más viejo de todos los miembros que componen el grupo
                    de los Pilares y por extensión el más experimentado. Tenía el cabello negro corto con una gruesa
                    cicatriz que corría horizontalmente a lo largo de su frente. No poseía irises, principalmente porque
                    era ciego[5] y estos, la mayor parte del tiempo, se llenaban de lágrimas cuando se encontraba en una
                    situación emociona</p>
                <br>
                <p>Su vestimenta característica consistía en el clásico atuendo de los miembros del Cuerpo de Exterminio
                    de Demonios. Su atuendo no contaba con ninguna personalización visible excepto por el hecho de que
                    utilizaba unos gruesos vendajes para mantener sujeto su Hakama a modo de un pantalón[7]. No usaba
                    medias con sus sandalias Zori[8] que poseían unas gruesas cuerdas de color verde, manteniendo
                    recogidas las mangas de su saco para exhibir sus gruesos y fuertes brazos. También levaba consigo un
                    Haori verde[9] de mangas largas y bordes blancos el cual tenía escritos a cada lado y estampados en
                    su espalda (en el manga) los sanscritos del budismo en una clara alusión a su religiosidad. Solía
                    llevar consigo un collar de cuentas gruesas de color rojo alrededor de su cuello[10] y se lo veía
                    constantemente sosteniendo cuentas de oración cada vez que no estaba en una batalla</p>
                <br>
                <p>Durante el enfrentamiento final contra Muzan Kibutsuji, Himejima pierde su pierna izquierda</p>
            </section>
            <section>
                <h2 id="personalidad">Personalidad</h2>
                <br>
                <p>Gyomei fue una persona muy religiosa y constantemente podía ser visto pronunciando frecuentemente el
                    mantra Amitābha en situaciones que lo entristecen y ofreciendo oraciones a las personas que le
                    rodeaban. La mayor parte del tiempo se mantenía sereno, era amable y muy emotivo. Lloraba con
                    frecuencia en todo tipo de situaciones.</p>
                <br>
                <p>A pesar de su personalidad de pocas palabras y sus tendencias a emocionarse hasta el punto de llorar,
                    Gyomei tenía un punto de vista objetivo y dudoso sobre las personas a su alrededor; siendo
                    plenamente consciente de las posibilidades que otros, particularmente los niños o los más jóvenes
                    que él, podrían hacer cuando se les brindaba una oportunidad. Debido a su experiencia antes de
                    convertirse en Cazador de Demonios, había reforzado aún más su naturaleza discretamente dudosa hasta
                    el punto de que le llevaba un tiempo aceptar a la gente por completo; pero una vez que aceptaba a
                    los de su alrededor, rechazaría incluso lo que otros dirían sobre ellos, creyendo plenamente en la
                    persona que aceptó.</p>
                <br>
                <p>Siendo el más experimentado de todos los Pilares, fue el más respetado por todos sus compañeros. En
                    ocasiones, Gyomei actuaba como líder de los pilares e incluso Kagaya Ubuyashiki confiaba plenamente
                    en él para transmitirle información que no podía comentarle a otros.</p>
            </section>
            <br>
            <section>
                <h2 id="habilidades">Poderes y habilidades</h2>
                <b>Habilidades personaeles</b>
                <ul>
                    <li>
                        <b>Arma única:</b> <span>A diferencia de otros cazadores, Gyomei utilizaba un arma Nichirin
                            especialmente adaptada para su estilo agresivo de lucha y su propia discapacidad física, la
                            cual consistía en una cadena de gran longitud en cuyos extremos tenía una bola con puntas y
                            un hacha (ono) de forma similar a una Kusarigama las cuales podía manipular con una gran
                            destreza a pesar de su ceguera. Debido a su ceguera, dependía únicamente del sonido de la
                            cadena para determinar el movimiento del hacha o la bola para poder atacar. Esta arma estaba
                            forjada con los mismos minerales utilizados en la elaboración de las Espadas Nichirin. Su
                            forjadura era caracterizada por ser de una calidad y durabilidad extremas, superando incluso
                            a las espadas diseñadas durante la Era Sengoku cuando la elaboración de espadas estaba en su
                            cumbre. Ni siquiera Kokushibo, el más fuerte de los demonios que componen el grupo de las
                            Doce Lunas Demoníacas fue capaz de romperl</span>
                    </li>
                    <br>
                    <li>
                        <b>Experto en combate con armas:</b> <span>Su capacidad para el uso de diversas armas fue
                            excepcional. Esto lo colocó como el más fuerte dentro del Cuerpo de Exterminio de
                            Demonios.</span>
                    </li>
                    <br>
                    <li>
                        <b>Capacidades físicas incrementadas:</b> <span>Sus capacidades físicas estaban en los límites
                            más altos de la condición humana después de años de intenso entrenamiento lo que le permitió
                            formar parte del grupo de los Pilares.</span>
                    </li>
                </ul>
                <br>
                <b>Habilidades como spadachin:</b>
                <p>Al ser uno de los pilares del Cuerpo de Exterminio de Demonios, Gyomei fue un espadachín bastante
                    competente pese a no usar una espada como sus compañeros[14]. Según las afirmaciones de Tanjiro
                    Kamado e Inosuke Hashibira, Gyomei fue el pilar más fuertes de su generación[15], lo que se reafirmó
                    durante su batalla contra la Luna Superior Uno, Kokushibo, quien al examinarlo mejor, fue capaz de
                    notar que Gyomei fue entrenado en todos sus aspectos más predominantes hasta alcanzar sus límites
                    dentro de lo humano y que en más de trescientos años, nunca había conocido a un oponente de ese
                    calibre[16]. Como tal, fue capaz de poner contra las cuerdas a Kokushibo, hasta que se viera forzado
                    a activar su Marca del Cazador de Demonios para enfrentarlo cuando vio que éste comenzaba a poner la
                    pelea a su favor.</p>
                <br>
                <p>Debido a que no podía usar la respiración de enfoque completo, en su lugar lograba un estado similar
                    en el que tenía que reunir fuerza al recordar todas sus dificultades pasadas, dicha habilidad la
                    denominó Movimiento Repetitivo (反はん復ぷく動どう作さ, Hanpuku Dōsa?) que le permitía poseer un alto nivel de
                    concentración y abrir en su totalidad los cinco sentidos, logrando mejor todas sus capacidades
                    físicas y el uso de herramientas nichirin.</p>
                <ul>
                    <li>
                        <b>Marca del Cazador de Demonios (鬼き殺さつ痣あざ, Kisatsu Aza?):</b> <span>Durante su enfrentamiento
                            con Kokushibo, fue capaz de despertar su marca de cazador que le permitió mejorar sus
                            capacidades físicas a niveles mucho más superiores. Su marca se asemejaba a patrones
                            agrietados similares a fisuras de tierra y estaban ubicados en ambos antebrazos</span>
                    </li>
                    <li>
                        <b>Nichirin Roja Carmesí:</b> <span>Durante su batalla contra Kokushibo, el pilar del Viento,
                            Sanemi Shinazugawa, tuvo un choque fuerte contra el mayal de con púas de Gyomei, provocando
                            que ambas herramientas tomen temporalmente un rojo carmesí otorgándoles la capacidad de
                            obstaculizar la regeneración mejorada de los demonio</span>
                    </li>
                    <li>
                        <b>Mundo Transparente (透すき通とおる世せ界かい, Sukitōru Sekai?):</b> <span>A pesar de ser ciego, Gyomei
                            obtuvo la capacidad de acceder al Mundo Transparente. Esto le permitió predecir los
                            movimientos de su oponente y sentirlos de forma natural</span>
                    </li>
                    <li>
                        <b>Respiración de la Roca (岩いわの呼こ吸きゅう, Iwa no kokyū?):</b> <span>Fue un estilo de respiración
                            que Gyomei cultivó por sí mismo durante su juventud. Debido a su ceguera, y con el fin de
                            aprender en su totalidad la técnica de respiración, tuvo que aprender a incorporar su
                            sentido del oído sobrehumano y mezclarlo con su fuerza física para que de este modo fuera
                            capaz de utilizar cualquier tipo de arma sin muchos conflictos. Fue conocido como el usuario
                            de la Respiración de la Roca más hábil de su generación. Las posturas que podía realizar
                            fueron:</span>
                        <ul>
                            <li> <b>Primera Postura: Hidra de Serpentinita (壱いちノ型かた　蛇じゃ紋もん岩がん・双そう極きょく, Ichi no kata:
                                    Jamongan - Sōkyoku?)[20]:</b> <span> Lanzaba sus dos armas aplicando un potente
                                    efecto rotatorio que destrozaba al enemigo.</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <img src="./img/himejima.jpg" alt="">
            </section>
            <section>
                <h2 id="curi">Curiosidades</h2>
                <br>
                <ul>
                    <li>
                        <p>Según Tengen Uzui, Gyomei fue una de las dos personas que se convirtieron en Pilares solo dos
                            meses después de tomar una espada, el otro fue Muichiro Tokito</p>
                    </li>
                    <li>
                        <p>Quedó ciego por una fiebre que tuvo cuando era niño.</p>
                    </li>
                </ul>
            </section>
            <br>
            <h3>Otros Heroes del anime que te podrian interesar</h3>
            <a href="/berners-lee">Berners-lee</a> ---
            <a href="/clarke">Clarke</a> ---
            <a href="/hamilton">Margaret Hamilton</a> ---
            <a href="/hopper">Hopper</a> ---
            <a href="/lovelace">Lovelace</a> ---
            <a href="/turing">Turing</a>
</body>

</html>