<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 align="center">Gilgamesh</h1>
    <img src="./img/gilgamesh(1).jpg" alt="">

    <section class="conteinerGilgamesh">
        <h2>Indice</h2>
        <ul>
            <li><a href="#histo">Historia</a></li>
            <li><a href="#forma">Forma de ser</a></li>
            <li><a href="#tipo">Tipo de servant</a></li>
            <li><a href="#noble">Nobles Fantasma</a></li>
        </ul>
    </section>
    <section>
        <h2 id="histo">Historia</h2>
        <p>Gilgamesh es un personaje legendario de la mitología sumeria. Según el documento llamado lista Real Sumeria,
            el personaje auténtico fue el quinto rey de Uruk hacia el año 2650 a. C., sacerdote del dios Kulaba y
            protagonista del Poema de Gilgamesh, también llamado Epopeya de Gilgamesh por su género literario. En esta
            se cuentan sus aventuras y búsqueda de la inmortalidad junto a su amigo Enkidu.</p>
        <p>Según el Poema de Gilgamesh, Enkidu fue creado por Aruru por petición de la diosa,Anu, que oía las quejas de
            la gente sobre Gilgamesh; y ésta le dijo a Aruru que creara un ser tan fuerte como Gilgamesh, hijo de la
            diosa Ninsun y del sacerdote, llamado Lillah. Gilgamesh, al enterarse de la existencia de Enkidu, envió a
            una hetaira sagrada, de nombre Shamhat, que pasó seis días y siete noches, fundidos como la raíz y la tierra
            en el ara del amor, con Enkidu para convencerlo de que era mejor una vida sabia y social que una vida de
            soledad y violencia en la fronda.</p>
        <p>La mitología cuenta que Gilgamesh fue un rey déspota que reinó en Babilonia en la ciudad de Uruk durante 126
            años. Según la lista de reyes de Sumeria, el padre de Gilgamesh y predecesor en el trono fue Lugalbanda. La
            leyenda decía, además, que su madre era la diosa Ninsun. A Gilgamesh le sucedió en el trono su hijo
            Ur-Nungal, que gobernó durante 30 años.</p>
        <img src="./img/gilgamesh.jpg" alt="">
    </section>
    <br>
    <section>
        <h2 id="forma">Forma de ser</h2>
        <p>Un rey muy orgulloso, frío y rudo. Siempre presenta un comportamiento arrogante y egoísta. Es muy ambicioso,
            manipulador y belicoso. Su mayor deseo en encontrar oponentes dignos, pero a su criterio eso nunca sucede,
            por lo que adopta siempre una postura pacífica, como si no tuviera ganas de luchar. Es muy fiel a su reino y
            a su pasado, del que se siente orgulloso. Siempre recto y decidido a mantener su dignidad ante todo, es una
            persona que lleva su soberbia hasta los extremos, desprestigiando a cualquiera sin una pizca de respeto.</p>
        <p>Siempre está tan confiado de su capacidad que no duda en bajar la guardia, relajarse y hasta reír, asumiendo
            las cosas con calma y tranquilidad. Aunque la misericordia no sea un elemento recurrente en su vida, hay
            otras virtudes alrededor del Rey de los Héroes. A pesar de todo por dentro es una persona que aprecia los
            profundos valores de la fuerza y la lealtad, por lo que existen personas que pueden ganarse su respeto si
            demuestran valores nobles y corazón heroico. Con respecto a las mujeres, no tiene un trato diferente con
            ellas que con un hombre, pero es muy posesivo si encuentra una de su agrado.</p>
    </section>
    <br>
    <section>
        <h2 id="tipo">Tipo de servant-Archer-</h2>
        <p>Caballero del Arco y Espíritu Heroico del Arco, es uno de los siete Servants invocados invocados en la Guerra
            del Santo Grial siendo una de las tres clases de caballeros. Los Servants invocados bajo esta clase tienden
            a destacar por poseer poderosos tesoros heróicos ser capaces de actuar como exploradores altamente
            efectivos, y ser frecuentemente Espíritus Heróicos de la Era de los Dioses cuando la hechicería aún era del
            común popular. La condición cualitativa para que un espíritu heroico pueda ser un Archer no se basa en sus
            atributos, sino en la posesión de poderosas armas de proyectil o habilidades especiales relativas a armas de
            proyectil. Poseen una alta resistencia mágica como una habilidad de clase, por lo que la mayoría de
            hechiceros modernos son incapaces de infligirles daño. También poseen acción independiente permitiéndole la
            habilidad de actuar independientemente por un periodo de tiempo sin un suministro activo de energía mágica
            de su master.</p>
        <p>Por esa razón Tokiomi considera inevitable que Gilgamesh con el rango EX de Ea, terminase bajo esta clase.
            Con Archers con rangos elevados en Acción Independiente y opiniones contrarias a las del Master, la única
            forma garantizada de controlarlos es a través del uso de Hechizos de comando. Hay que desmentir el hecho de
            que el Tesoro Heroico de un Servant de clase Archer es un arco, ya que cualquier arma a distancia, inclusive
            armas de fuego, puede ser un indicativo de un Archer.</p>
    </section>
    <br>
    <section>
        <h2 id="noble">Nobles Fantasma</h2>
        <h3>Gate of Babylon</h3>
        <b>"Una llave en forma de espada que se conecta a la Capital Dorada"</b>
        <p>Gate Of Babylon no es un Noble Fantasma propiamente dicho, sino que es un portal donde Gilgamesh puede traer
            sus distintos Noble Fantas ma. Generalmente, lo utiliza para disparar innumerables armas como una lluvia de
            proyectiles (lo que le da su titulo de Archer), pero comprobamos que también hay varios artículos en ella
            que no son armas, como un espejo, por ejemplo. De hecho, en Fate / Zero nos muestra que tambien puede traer
            por el Gate Of Babylon a una máquina voladora denominada Vimana, e incluso, cosas tan triviales como un vino
            especial, al que Gilganmesh se refiere como “vino digno de reyes” o “bebida de los dioses” . Cabe agregar,
            que ademas de lanzarlos como proyectiles. Gilgamesh también puede recoger los artículos uno por uno para su
            uso específico si es necesario.</p>
        <p>Las armas que se ven en el Gate Of Babylon (al menos los que se pueden identificar a simple vista)son los
            prototipos de Caladbolg, Dainsleif, Durandal, Gae Bolg, Gram, Harpe, Houtengeki, Vajra. Ademas, también
            contiene algunas armas de heroes desconocidos, como una espada invisible, una espada de hielo que congela el
            espacio que corta, una hoz escurre prana y pasa a través de la carne y la armadura sin causar daño físico,
            un escudo espejo capaz de reflejar una explosión de prana, una espada, y un martillo más grande que una
            persona; y entre todos estos se encuentran los dos únicos dos Noble Fantasmas que son representativos de su
            identidad como Espiritu Heroico: Ea y Enkidou.</p>
    </section>
    <br>
    <h3>Otros Heroes del anime que te podrian interesar</h3>
    <a href="/berners-lee">Berners-lee</a> ---
    <a href="/clarke">Clarke</a> ---
    <a href="/hamilton">Margaret Hamilton</a> ---
    <a href="/hopper">Hopper</a> ---
    <a href="/lovelace">Lovelace</a> ---
    <a href="/turing">Turing</a>
</body>

</html>