<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1> Heroes del anime</h1>
    <p></p><button id=button-danger><a href="/babbage">Babbage (Kyojuro Rengoku - Pilar de la llama)</a></button></p>
    <p></p><button id=button-danger><a href="/berners-lee">Berners-lee (Mitsuri Kanroji - Pilar del amor)</a> </button></p>
    <p></p><button id=button-danger><a href="/clarke">Clarke (Iguro Obanai - Pilar de la serpiente )</a></button></p>
    <p></p><button id=button-danger><a href="/hamilton">Margaret Hamilton (Gyomei Himejima - Pilar de la roca)</a></button></p>
    <p></p><button id=button-danger><a href="/hopper">Hopper (Gilgamesh - archer)</a></button></p>
    <p></p><button id=button-danger><a href="/lovelace">Lovelace (Oda Nobunaga - archer)</a></button></p>
    <p></p><button id=button-danger><a href="/turing">Turing (Toshinori Yagi - All Might)</a></button></p>
</body>

</html>