<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 align="center">Oda Nobunaga</h1>

    <table align="center" style="" class="cquote">
        <tbody>
            <tr>
                <td width="20" valign="top"
                    style="color:#721410; font-size:35px; font-family:'Merriweather',serif; font-weight:bold; text-align:left; padding:9px 10px 0px 10px;">
                    “
                </td>
                <td valign="top"
                    style="padding:4px 10px 5px 10px; font-family:'Times New Roman'; text-align:center; font-size:110%;">
                    <i>«¡Soy Archer Demonio Nobunaga, el Rey Demonio del Sexto Cielo! Muy bien... ¡Te permito ser mi
                        Master!»</i>
                </td>
                <td width="20" valign="bottom"
                    style="color:#721410; font-size:30px;font-family:'Merriweather',serif;font-weight:bold;text-align:right;padding:10px 10px 0px 10px;">
                    ”
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding-top: 0">
                    <p style="font-size:smaller;line-height:1em;text-align: right"><cite style="font-style:normal;">>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <img src="./img/nobunaga(1).jpg" alt="">
    <section class="conteinerOda">
        <h2>Indice</h2>
        <ul>
            <li><a href="#bio">Biografia</a></li>
            <li><a href="#forma">personalidad</a></li>
        </ul>
    </section>
    <section>
        <h2>Perfil</h2>
        <h3 id="bio">bibliografia</h3>
        <br>
        <p>La hermana mayor de Nobukatsu Oda, mejor conocida como el Rey de la Innovación y el legendario señor de la
            guerra entre los periodos Sengoku y Azuchi-Momoyama de la historia japonesa. Su apodo como el Rey Demonio
            del Sexto Cielo (第六天魔王, Dairokutenmaō?) tiene origen en los severos actos de destrucción llevados a cabo
            durante su campaña.</p>
        <p>Soldado de la suerte del Período de los Estados Combatientes, fue llamada la Gran Tonta de Owari (尾張の大うつけ,
            Owari no Ōutsuke?) en su infancia. Nobunaga se hizo un nombre en el mundo al derrotar a Yoshimoto Imagawa en
            la Batalla de Okehazama, y también como la responsable de la caída del Shogunato Muromachi, teniendo así una
            gran influencia durante el cierre del turbulento período militar que comenzó con la Guerra Ōnin.</p>
        <p>Una de las primeras en asimilar los inventos occidentales y los conceptos tácticos en el arte de la guerra,
            Nobunaga ejerció una ventaja tecnológica y económica contra sus enemigos, con esfuerzos centrados en el
            control y el desarrollo de centros importantes de la industria y el establecimiento de políticas que
            enfatizaran la promoción de resultados y méritos individuales. Sus noble phantasms se basan en las tácticas
            de volea rotativas empleadas por sus tropas, y su naturaleza anti-ejército de su hábil liderazgo.</p>
        <p>Entre 1560 y 1583, Nobunaga eliminó a muchos enemigos formidables e incluso tuvo a su alcance la unificación
            del país. Su campaña terminó en el templo Honnoji en Kyoto debido a la insurrección de Mitsuhide Akechi,
            dejando como sucesor a su antiguo vasallo Hideyoshi Toyotomi.</p>
        <h3>Apariencia</h3>
        <p>Su atuendo militar es algo que ella misma preparó al ser invocada como servant. En su uniforme destacan los
            colores negro y rojo, protecciones en las piernas, una larga capa roja que llega por debajo de sus rodillas
            y un gorro con el emblema de la familia Oda. Nobunaga es una mujer de baja estatura con un largo cabello
            negro y profundos ojos carmesí.</p>
        <img src="./img/nobunaga.jpg" alt="">
    </section>
    <section>
        <h3 id="forma">Personalidad</h3>
        <p>Altiva y segura de sí misma, Nobunaga posee una forma flexible de pensar que ama las cosas nuevas y no está
            limitada por el conservadurismo y el sentido común. Nobunaga había trabajado enérgicamente hacia la
            unificación del país, pero su fin vino con la insurrección de un vasallo. Ella no se arrepiente de eso en sí
            misma, diciendo que era «algo que no podía evitarse». Si bien no tiene un deseo particular para el Santo
            Grial, es muy probable que pueda usarlo para crear algún tipo de desastre.</p>
    </section>

    <br>
    <h3>Otros Heroes del anime que te podrian interesar</h3>
    <a href="/berners-lee">Berners-lee</a> ---
    <a href="/clarke">Clarke</a> ---
    <a href="/hamilton">Margaret Hamilton</a> ---
    <a href="/hopper">Hopper</a> ---
    <a href="/lovelace">Lovelace</a> ---
    <a href="/turing">Turing</a>

</body>

</html>