<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 align="center">Toshinori Yagi</h1>
    <a href="/turing"><a></a>

        <table align="center" style="" class="cquote">
            <tbody>
                <tr>
                    <td width="20" valign="top"
                        style="color:#721410; font-size:35px; font-family:'Merriweather',serif; font-weight:bold; text-align:left; padding:9px 10px 0px 10px;">
                        “
                    </td>
                    <td valign="top"
                        style="padding:4px 10px 5px 10px; font-family:'Times New Roman'; text-align:center; font-size:110%;">
                        <i>Todo está bien, ¿Por qué? ¡Porque yo estoy aquí!!</i>
                    </td>
                    <td width="20" valign="bottom"
                        style="color:#721410; font-size:30px;font-family:'Merriweather',serif;font-weight:bold;text-align:right;padding:10px 10px 0px 10px;">
                        ”
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding-top: 0">
                        <p style="font-size:smaller;line-height:1em;text-align: right"><cite
                                style="font-style:normal;">></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <img src="./img/allMight(1).jpg" alt="">


        <section class="conteinerOru">
            <p>
                Toshinori Yagi (八や木ぎ俊とし典のり Yagi Toshinori ?)[2], mejor conocido como All Might (オールマイト Ōru Maito ?), que
                ostentaba el título de ser el Símbolo de la paz (平和の象徴 Heiwa no Shōchō ?), es el antiguo héroe número
                uno y el octavo usuario del Don One For All. También es maestro en la Academia U.A. para héroes. Después
                de luchar contra All For One, utilizó hasta la última de las brasas sobrantes de One For All por
                completo, por lo que All Might se retiró de la lucha contra el crimen, y por lo tanto, terminó su era.
            </p>
        </section>
        <section class="conterOruIndice">
            <h3>Indice</h3>
            <ul>
                <li><a href="#per">Personalidad</a></li>
                <li><a href="#Ap">Apariencia</a></li>
                <li><a href="#Hab">Habilidades</a></li>
                <li><a href="#Cur">Curiosidades</a></li>
            </ul>
        </section>
        <section>
            <h2 id="per">Personalidad</h2>
            <p>Su personalidad como All Might deriva en gran parte de los estereotipos de héroe americano, teniendo
                dramáticas entradas y diálogos durante las peleas, debido a su popularidad y la importancia de su papel
                como símbolo de la paz muestra ser siempre amable, carismático y amistoso, disfrutando de la atención
                que su puesto le da.</p>
            <p>Sin embargo, cuando vuelve a su forma original tiende a ser menos enérgico debido a la gran herida en su
                abdomen y la cantidad de energía que su forma musculosa requiere. En este estado procura mantener un
                perfil bajo y evita llamar la atención pues cree fervientemente que para preservar el legado de "All
                Might" como símbolo de la paz y conservar el orden social, su condición original y su estado de salud
                deben permanecer en secreto.</p>
            <p>Si bien su desempeño como maestro deja mucho que desear, se le ve esforzándose por ser un buen tutor en
                más de una ocasión, preparando sus clases con anticipación, tomando notas de un libro y preparando
                tarjetas para explicar las actividades de clase.</p>
            <p>A pesar de su carácter amigable y tranquilo, suele volverse extremadamente serio y hostil cuando ve a
                personas siendo transgredidas.</p>
            <p>Se puede decir que All Might es como un segundo padre de Izuku , pues siempre se esta preocupando por el.
                Toshinori no supo decirle a Midoriya que esta bien descansar de vez en cuando, y por ello se siente
                decepcionado y triste de si mismo al ver como Izuku tiene que lidiar con los estragos luego de la
                guerra.</p>
            <img src="./img/allMight.jpg" alt="">
        </section>
        <br>
        <section>
            <h2 id="Ap">Apariencia</h2>
            <p>All Might es un hombre muy alto y rubio, su diseño en su forma musculosa se asemeja a los cómics de
                héroes americanos clásicos, con más sombreado que cualquier otro personaje, su cabello va peinado hacia
                atrás excepto por dos mechones al frente que se elevan en pico. Su vestimenta de héroe consiste en un
                traje de cuerpo rojo, blanco y azul con botas de color amarillo. A veces lleva un traje mayormente de
                color rojo con capa. En general, su diseño se considera muy clásico.</p>
            <p>En su forma real, él es un hombre excesivamente delgado y escupe gran cantidad de sangre al hablar, su
                rubia melena aparece despeinada y alborotada y los dos mechones caen enmarcando su rostro demacrado, en
                esta forma se aprecia que la ropa le queda holgada, pues usa tallas mas grandes para fines prácticos
                (por si requiere transformarse en su forma musculosa). En su juventud poseía sus ojos normales como
                cualquier otra persona, sin embargo tras un incidente sus glóbulos oculares se volvieron negros. Sus
                iris de color azul se notan solo en su forma demacrada.</p>
        </section>
        <br>
        <section>
            <h2 id="Hab">Habilidades</h2>
            <b>Habilidades generales:</b> <span>Toshinori es un poderoso héroe reconocido como el "Símbolo de la Paz",
                lo que indica su extraordinario e inmenso poder. Él es capaz de derrotar a un Nomu creado
                específicamente para combatirlo. Toshinori, a pesar de su desventaja ponderada y fuerza agotada, es
                fácilmente capaz de abrumar a Izuku y Katsuki, que están entre los más fuertes de la Clase 1-A.
                Toshinori derrotó a All For One, un villano extremadamente poderoso que una vez gobernó Japón, haciendo
                a Toshinori el único sucesor de One For All en lograr esta hazaña.</span>
            <p>La cantidad de tiempo que puede utilizar sus habilidades de One For All han caído drásticamente de cuando
                estaba en su mejor momento debido a una lesión que sufrió de su lucha con All For One. Después de pasar
                One For All a Izuku, su límite de tiempo ha comenzado a disminuir y después de su batalla con All For
                One, Toshinori pierde la habilidad de usar One For All. Aunque todavía puede transformarse en su forma
                muscular, ya no puede mantenerla y la forma se disipará en el mismo instante en que la active.</p>
            <ul>
                <li>
                    <b>Músculos entrenados:</b> <span>l uso del One For All requiere que el usuario tenga músculos muy
                        fuertes, ya que este Don es demasiado para un cuerpo "normal" y podría hacer que el cuerpo del
                        usuario explote si no posee la fuerza corporal necesaria. Gran Torino dijo que All Might, en
                        particular, tenía un cuerpo fuerte que le permitía dominar el One For All mucho más rápido que
                        los usuarios</span>
                </li>
            </ul>
        </section>
        <br>
        <section>
            <h2 id="Cur">Curiosidades</h2>
            <ul>
                <li>
                    Es una de las pocas personas que son faltos de un Don por nacimiento, al igual que Izuku.
                </li>
                <li>
                    Le gustan los cedros de Yakushima y las películas
                </li>
                <li>
                    Los nombres de sus técnicas poseen nombres de los estados de Estados Unidos. Ejemplo: su ataque
                    Texas Smash, además, su técnica más poderosa se llama United States of Smash.
                </li>
                <li>
                    Toshinori es actualmente el único de los antiguos portadores que sigue vivo. También es el único que
                    se ha enfrentado en dos ocasiones a All For One y ha logrado derrotarlo.
                </li>
                <li>
                    El actor de doblaje latinoamericano de All Might, Orlando Noguera, también interpreta a Gran Torino
                </li>
            </ul>
        </section>
        <br>
        <h3>Otros Heroes del anime que te podrian interesar</h3>
        <a href="/berners-lee">Berners-lee</a> ---
        <a href="/clarke">Clarke</a> ---
        <a href="/hamilton">Margaret Hamilton</a> ---
        <a href="/hopper">Hopper</a> ---
        <a href="/lovelace">Lovelace</a> ---
        <a href="/turing">Turing</a>

</body>

</html>